{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": ["./tsconfig.json"],
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "airbnb",
        "airbnb-typescript",
        "plugin:@typescript-eslint/recommended",
        "prettier"
    ],
    "rules": {
        "no-param-reassign": "off",
        "@typescript-eslint/no-unused-vars": "error",
        "@typescript-eslint/consistent-type-definitions": [
            "error",
            "type"
        ],
        "space-before-blocks":"error",
        "max-len": [
            "error",
            {
                "code": 100,
                "ignoreComments": true,
                "tabWidth": 2
            }
        ]
    },
    "env": {
        "browser": true,
        "es2021": true
    }
}
