/* Fix pages having a scrollbar */
#dgHolidaySubmitClaims_main, #dgHolidaySubmitClaims_main td, #dgHolidaySubmitClaims_div {
  height: auto !important;
}


/* Fix for popout menus showing behind table header row */
#jsddm_summary li ul, #jsddm_item li ul { z-index: 1000; }

/* Fix popout menu options having huge padding */
#jsddm_summary li ul li, #jsddm_item li ul li { display: list-item !important; }

/* Fix popout menu options flickering padding on hover */
#jsddm_summary li ul li a, #jsddm_item li ul li a { padding: 3px 4px !important; }

/* Improve popout menu readability/clickability */
#jsddm_summary li ul li a, #jsddm_item li ul li a { font-size: 11px !important; }
#jsddm_summary li ul li, #jsddm_item li ul li { padding: none !important; }

/* Fix page being too big creating vertical scrollbar
	Note: Form often has different IDs across different pages but is always
	body's first child
*/
body > form { margin-block-end: unset; }

/* Fix menubar button hover backgrounds being too short */
a.actionIcon {
	min-height: 100%;
    display: block;
}

/* Replace comic sans and red-on-blue font for DTX text (page top-right) */
span.dtxTitle {
	font-family: "Trebuchet MS", serif !important;
	color: #000 !important;
}

/* Fix logo stretch and give padding */
#ImgCGLogo {
	height: 30px;
    padding: 5px;
}



/*
	* Fix summary table header text aligning to top of cells
	* Remove ugly 3D border that misaligns cells 
*/
#uwgItems_hdiv > table > thead > tr > th {
	vertical-align: middle;
	border-left-width: 0px;
	border-top-width: 0px;
}

/*
	* Disable padding of numeric cells in summary table as this causes eventual inalignment along the table
	* Center the text for easy readability
*/
.dtxMainData tr > td.num {
	padding-right: 0px;
	text-align: center;
}

/* Only show summary table scrollbars when necessary */
#uwgItems_div {
	overflow: auto !important; /* !important to override inline styling */
}